# Environment
NODE_ENV=development

# Port
PORT=3000


# Database
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=gulshan
DB_HOST=root
DB_PORT=3306
DB_DIALECT=your_database_dialect

# Secret Key
JWT_SECRET=your_jwt_secret_key
